@charset "UTF-8";
* {
  /*reseteo de código*/
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: aliceblue;
  background-image: url("../img/fondo.jfif");
  background-size: cover;
  background-attachment: fixed;
}

.linea {
  border: 0;
  width: 100%;
  height: 0.6rem;
  background-image: linear-gradient(to right, transparent, #7523c3, transparent);
}

header {
  text-align: center;
  background-color: #f6e1ff;
  margin: auto;
  width: 80%;
  position: sticky;
  top: 0;
  z-index: 1;
}
header img {
  width: 200px;
  padding: 20px;
  margin: 10px;
  text-align: center;
}
header .grd-container {
  display: grid;
  grid-template-rows: 20% max-content;
  grid-template-areas: "logo nombre" "logo nombre" "logo subnombre";
}
header .grd-container .grd-logo {
  grid-area: logo;
  width: 20rem;
  justify-content: center;
  padding: 2%;
}
header .grd-container .grd-nombre {
  grid-area: nombre;
  text-align: left;
  padding-top: 5%;
  font-size: 4rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header .grd-container .grd-subnombre {
  grid-area: subnombre;
  text-align: left;
  justify-content: center;
  gap: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header .nav_prop:hover {
  background-color: #7523c3;
  color: whitesmoke !important;
  font-size: fs-4;
}

main div img:hover {
  scale: 1.1;
}

footer {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
  background-color: #f6e1ff;
  line-height: 1.5;
  margin: auto;
  width: 80%;
}
footer .ft-social {
  padding: 0;
  list-style: none;
  padding-left: 0%;
}
footer .ft-social .ft-social-list {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding-top: 1.25rem;
}
footer .ft-social .ft-social-list .ft-social-li {
  padding: 0%;
}
footer .ft-social .ft-social-list .tumb {
  width: 15%;
}
footer .ft-legal {
  padding: 0.9375rem 1.875rem;
  background-color: #7523c3;
  color: white;
}
footer .ft-legal ul {
  list-style-type: none;
}
footer .ft-legal ul .ft-legal-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: white;
}
footer .ft-legal ul .ft-legal-list li .ft-legal-li {
  margin: 0.125rem 0.625rem;
  white-space: nowrap;
  color: white;
}
footer .ft-legal ul .ft-legal-list li .ft-legal-li:nth-last-child(2) {
  flex: 1;
}

@media screen and (max-width: 480px) {
  .ft-main {
    justify-content: space-around;
  }
  header .grd-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "logo" "nombre" "subnombre";
  }
  header .grd-logo {
    grid-area: logo;
    width: 2%;
    justify-content: center;
    padding: 2%;
  }
  header .grd-nombre {
    grid-area: nombre;
    text-align: center;
    font-size: 0.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
}
@media screen and (481px < width < 768px) {
  .ft-main {
    justify-content: space-evenly;
  }
  header .grd-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "logo nombre" "logo nombre" "subnombre subnombre";
  }
  header .grd-logo {
    grid-area: logo;
    width: 2%;
    justify-content: center;
    padding: 2%;
  }
  header .grd-nombre {
    grid-area: nombre;
    text-align: center;
    font-size: 0.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
}

/*# sourceMappingURL=style.css.map */
