@media screen and (max-width:480px) {

    .ft-main {
        justify-content: space-around;
    }

    header{
    .grd-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        grid-template-areas: 
        'logo'
        'nombre'
        'subnombre';        
    }
    
    .grd-logo{
        grid-area: logo;
        width: 2%;
        justify-content: center;
        padding: 2%;
    }

    .grd-nombre{
        grid-area: nombre;
        text-align: center;
        font-size: 0.5rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    }
}

@media screen and (481px < width < 768px) {

    .ft-main {
        justify-content: space-evenly;
    }

    header{
    .grd-container{
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
          'logo nombre'
          'logo nombre'
          'subnombre subnombre';  
    }

    .grd-logo{
        grid-area: logo;
        width: 2%;
        justify-content: center;
        padding: 2%;
    }

    .grd-nombre{
        grid-area: nombre;
        text-align: center;
        font-size: 0.5rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    }
}